<!--<h2>Signup Database Connection</h2>-->
<!--<input class="signup-username" />-->
<!--<input type="password" class="signup-password" />-->
<!--<input type="button" class="signup-db" value="Signup!" />-->
<!--<script type="text/javascript">-->
    <!--$('.signup-db').click(function (e) {-->
        <!--e.preventDefault();-->
        <!--auth0.signup({-->
            <!--connection: 'Username-Password-Authentication',-->
            <!--username: $('.signup-username').val(),-->
            <!--password: $('.signup-password').val(),-->
            <!--sso: true,-->
            <!--popup: true,-->
            <!--auto_login: false-->
        <!--}, function (err) {-->
            <!--if (err) return alert('Something went wrong: ' + err.message);-->
            <!--return alert('success signup without login!')-->
        <!--});-->
    <!--});-->
<!--</script>-->

<button class="btn btn-primary" ng-click="login()">Log In</button>

<!--<div id="login-container">-->
    <!--{{vm}}-->
    <!--<form>-->
        <!--<fieldset>-->
            <!--<label for="user">User</label>-->
            <!--<input class="form-control" id="user" type="text" name="username" ng-model="vm.username" />-->
            <!--<br>-->
            <!--<label for="password">Password</label>-->
            <!--<input class="form-control" id="password" type="password" name="password" ng-model="vm.password" />-->
            <!--<br>-->
            <!--<button class="btn btn-primary" type="submit" ng-click="vm.login()">Log In</button>-->
            <!--<button class="btn btn-primary" type="submit" ng-click="vm.signup()">Sign Up</button>-->
        <!--</fieldset>-->
    <!--</form>-->

<!--</div>-->
